.slider {
  display: flex;
  justify-content: space-between;
  padding: 10px 3px 5px 3px;
}

.img {
  height: 1rem;
  width: 1rem;
  padding-top: 7px;
  padding-bottom: 5px;
}

span {
  display: block;
  padding-top: 3px;
}

.button {
  border-radius: 50%;
  border: none;
  background: {
    color: #a8a8a8;
    position: center;
    repeat: no-repeat;
  }
  cursor: pointer;
  :hover {
    transform: scale(1.3);
    transition: transform 0.4s;
  }
}
