.resizeButton {
  border-radius: 50%;
  border: 1px solid rgb(168, 168, 168);
  cursor: pointer;
  padding: 2px;
  outline: none;
  background-color: rgb(92, 92, 92);
  position: relative;
  float: right;
  top: -5px;
  right: -5px;
  :hover {
    transform: scale(1.3);
    transition: transform 0.4s;
  }
}

.expand {
  padding: 3px;
  filter: brightness(0) invert(1);
  width: 14px;
  height: 10px;
  margin-top: 2px;
}
