.sheet__wrapper {
  width: 200px;
}

.total__wrapper {
  margin: auto;
}

.total__wrapper_full {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: black;
  top: 0;
  left: 0;
}

.switcher__wrapper {
  display: flex;
  justify-content: space-around;
}

table {
  width: inherit;
  text-align: center;
  border: 1px black solid;
  margin: auto;
}

.slider__wrapper {
  max-width: 200px;
  margin: auto;
}
